<h5>Created Events</h5>
<% @user.events.each do |event| %>
  <ul class='list-group'>
    <li class='list-group-item'>
      <h6><%= link_to event.title, event %></h6>
      <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Delete', event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger btn-sm' %>
    </li>
  </ul>
<% end %>

<h5>Past Events</h5>
<% @user.attended_events.each do |event| %>
  <% if event.date_start < Time.now %>
    <ul class='list-group'>
      <li class='list-group-item'>
        <h6><%= link_to event.title, event %></h6>
        <%= button_to 'Cancel', attendance_path(event), method: 'delete', model: @attendance, class: 'btn btn-secondary btn-sm' %>
      </li>
    </ul>
  <% end %>
<% end %>

<h5>Future Events</h5>
<% @user.attended_events.each do |event| %>
  <% if event.date_start > Time.now %>
    <ul class='list-group'>
      <li class='list-group-item'>
        <h6><%= link_to event.title, event %></h6>
        <%= button_to 'Cancel', attendance_path(event), method: 'delete', model: @attendance, class: 'btn btn-secondary btn-sm' %>
      </li>
    </ul>
  <% end %>
<% end %>

<h5>Invitations</h5>
<% @user.invited_events.each do |event| %>
  <% unless @user.attended_events.include?(event)%>
    <ul class='list-group'>
      <li class='list-group-item'>
        <h6><%= link_to event.title, event %></h6>
      </li>
    </ul>
  <% end %>
<% end %>