<h6>username: <%= @user.username %></h6>
<h3>Created Events</h3>
<% @user.events.each do |event| %>
  <ul>
    <li>
      <%= link_to event.title, event %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to 'Delete', event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  </ul>
<% end %>

<h3>Past Events</h3>
<% @user.attended_events.each do |event| %>
  <% if event.date_start < Time.now %>
    <ul>
      <li>
        <%= link_to event.title, event %>
        <%= button_to 'Cancel', attendance_path(event), method: 'delete', model: @attendance %>
      </li>
    </ul>
  <% end %>
<% end %>

<h3>Future Events</h3>
<% @user.attended_events.each do |event| %>
  <% if event.date_start > Time.now %>
    <ul>
      <li>
        <%= link_to event.title, event %>
        <%= button_to 'Cancel', attendance_path(event), method: 'delete', model: @attendance %>
      </li>
    </ul>
  <% end %>
<% end %>

<h3>Invitations</h3>
<% @user.invited_events.each do |event| %>
  <% unless @user.attended_events.include?(event)%>
    <ul>
      <li>
        <%= link_to event.title, event %>
      </li>
    </ul>
  <% end %>
<% end %>