<div class="container">
  <%= render "events/errors" %>
  <h5>New Event</h5>
  <%= form_with(model: @event) do |form| %>
    <%= form.label :title, class: 'form-label'%>
    <%= form.text_field :title, class: 'form-control'%>
  
    <%= form.label :location, class: 'form-label' %>
    <%= form.text_field :location, class: 'form-control' %>
  
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  
    <%= form.label :start_date, class: 'form-label'%>
    <%= form.datetime_field :date_start, class: 'form-control' %>
  
    <%= form.label :end_date, class: 'form-label'%>
    <%= form.datetime_field :date_end, class: 'form-control' %>
  
    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>
