<h3>Event Info</h3>
<ul>
  <li><%= @event.title %></li>
  <li><%= @event.location %></li>
  <li><%= @event.description %></li>
  <li><%= @event.date_start %></li>
  <li><%= @event.date_end %></li>
  <li>created by: <%= @event.creator.username %></li>
</ul>

<%= render "invitations/new" %>
<%= render "invitations/index" %>

<% if user_signed_in? %>
  <% if current_user.attended_events.include?(@event) %>
    <%= button_to 'Cancel Attendance', attendance_path, method: 'delete', model: @attendance %>
  <% else %>
    <%= button_to 'Attend', attendances_path(id: @event.id) %>
  <% end %>
<% else %>
  <%= button_to 'Attend', attendances_path(id: @event.id) %>
<% end %>

<h2>Attendees:</h2>
<% @event.attendees.each do |attendee| %>
  <%= attendee.username %>
<% end %>