<%= @event.title %>
<%= @event.location %>
<%= @event.description %>
<%= @event.date_start %>
<%= @event.date_end %>

<%= button_to 'Attend', attendances_path(event_id: @event.id) %>

<h2>Attendees:</h2>
<% @event.attendees.each do |attendee| %>
  <%= attendee.username %>
<% end %>