<div class="card">
  <div class='card-body'>
    <h5 class='card-title'>Event Info</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= @event.title %></h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @event.location %></li>
      <li class="list-group-item"><%= @event.date_start %>, <%= @event.date_end %></li>
      <li class="list-group-item"><%= @event.creator.username %></li>
      <div class="list-group-item"><div><%= @event.description %></div></div>
    </ul>
    
  </div>
</div>

<%= render "invitations/new" %>
<%= render "invitations/index" %>

<% if user_signed_in? %>
  <% if current_user.attended_events.include?(@event) %>
    <%= button_to 'Cancel Attendance', attendance_path, method: 'delete', model: @attendance, class: "btn btn-sm btn-secondary" %>
  <% else %>
    <% if current_user.invited_events.include?(@event) || current_user == @event.creator%>
      
      <%= button_to 'Attend', attendances_path(id: @event.id), class: 'btn btn-sm btn-primary' %>
      <h6>You are invited!</h6>
    <% else %>
      <p> You are not invited to this event </p>
    <% end %>
  <% end %>
<% else %>
  <%= button_to 'Attend', attendances_path(id: @event.id) %>
<% end %>

<h5>Attendees:</h5>
<% @event.attendees.each do |attendee| %>
  <%= attendee.username %>
<% end %>